.card--icon {
  padding: 0.5rem 0.125rem;
  border-radius: 0.5rem;
}
.card--details-panel {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  /* Reverse this for rtl languages */
  background-color: #1d1d1d;
}
.icon-grid__label {
  opacity: 0.6;
}
.mb-8 {
  margin-bottom: 2rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.iconsGridView {
  background-color: transparent;
}
